<!DOCTYPE html>

<html land="en">
<head>
	<title>ReCoffee</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/fav.ico' %}">
</head>

<body>

<a href="{% url 'index' %}">
	<img src="{% static 'images/Recoffee-logo.png' %}" id="logo">
</a>



<nav>
	{% if user.username %}
	<div class="dropdown">
		<a href="#" class="dropbtn">{{ user.username }}</a>
		<div class="content">
	{% if user.profile %}
			<a href="{% url 'user_profile' user.profile.pk %}">Profile</a>
{% endif %}
			<a href="{% url 'logout' %}">Logout</a>
		</div>
	</div>
	{% else %}
	<a class= "link" onclick = "javascript:window.location.href='/register.html'">Register</a>
	<a class= "link" onclick = "javascript:window.location.href='/login.html' ">Login</a>
	{% endif %}
</nav>

{% block content %}
{% endblock %}

</body>
</html>

