{% extends 'ReCoffee/base.html' %}

{% load static %}


{% block content %}

<article class="profile">
	{% if not flag %}
		<a class="boaba" href="{% url 'faved' shop.pk %}">
			<img src="{% static 'images/fave.png' %}" id="favebtn"/>
		</a>
	{% endif %}
	<small class="dropdown">
	<div class="annotation">Favorite</div>
	<h1 class="shoptitle"> {{ shop.name }} </h1>
	<span> Location: {{ shop.location }} </span>
	<br><span> Rating: {{ shop.rating }} </span>
	<p style="font-size: 22px; font-style: bold;">
	<a href="{% url 'index' %}">Go home</a>
	</p>
	{% for review in review_list %}
		<p>
			{{ review.text }}
			<small>  {% if user.profile %} by
		<a href="{% url 'user_profile' review.author.pk %}">{{ review.author.first_name }} {{ review.author.last_name }}</a>
		at {{ review.date_added }}
{% endif %}
</small>
</p>
{% endfor %}
</article>


{% if user.username %}
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<input class="button" type="submit" value="Save"/>
</form>
{% endif %}



{% endblock %}
