{% extends 'ReCoffee/base.html' %}

{% block content %}

{% block head%}
<article class="profile">
	<img src="{{ user.profile.avatar.url }}" id="avatar">
	<h1> {{ user.username }} </h1>
	<span> First name: {{ user_profile.first_name }} </span>
	<br><span> Last name: {{ user_profile.last_name }} </span>
	<br><span> Birthday: {{ user_profile.birthday }} </span>
	{% for fave in fave_list %}
		<br>
		<a href="{% url 'shop_profile' fave.shop.pk %}"> {{ fave.shop.name }}</a>
	{% endfor %}
</article>
{% endblock %}

{% endblock %}
