body{
	font-family: Helvetica;
	/* culoare de fundal bej*/
	background-color: #D9C9B3;
	margin: 0;
}

a{
	text-decoration: none;
	/* culoare linkuri oranj*/
	color: #FB9612; 
	font-weight: bold;
}

nav{
	/*meniu maro*/
	background-color: #52352E; 
	padding: 0.6em;
	margin: auto;
	position: relative;
	text-align: right;
	font-weight: bold;
	font-size: 1.2em;
}

nav a{
	padding: 1em;
	width: 4.5em;
	margin-left: 1.25em;
	text-align: center;
	display: inline-block;
	transition: background-color 0.5s;
}

nav a:link, a:visited{
	background-color: #52352E;
	color: #FB9612; 
}

nav a:hover, a:active{
	background-color: #FB9612;
	color: #52352E;
}

.profile{
	max-width: 300px;
	padding: 3em;
	border: 2px solid #52352E;
	border-radius: 5px;
}

.button{
	cursor: pointer;
}

.dropbtn{
	cursor: pointer;
	padding: 1em;
	width: 4.5em;
	margin-left: 1.25em;
	text-align: center;
	display: inline-block;
	transition: background-color 0.2s;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.content{
	display: none;
	position: absolute;
	background-color: #52352E;
	min-width: 9em;
	padding: 0.7em 0em;
}

.content a {
	padding: 1em 1.5em;
	width: 4.5em;
	display: block;
	margin: auto;
	color: #FB9612;
}

.dropdown:hover .content{
	display: block;
	z-index: 1;
}

.homepage, .loginpage{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-form, .login-form{
	padding: 30px 70px;
	box-shadow: 0px 0px 12px #ddd;
	border-radius: 10px;
	border: 1px solid #755A38; /* culoare margine search maro*/
}

#logo {
	position: absolute;
	float: left;
	z-index: 2;
}


