body{
	font-family: 'Calibri', sans-serif;
	background-color: #D9C9B3; /* culoare de fundal bej*/
	margin: 0;
}

a{
	text-decoration: none;
	color: #FB9612; /* culoare linkuri oranj*/
}

.button{
	cursor: pointer;
}

.homepage, .loginpage{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-form, .login-form{
	padding: 30px 70px;
	box-shadow: 0px 0px 12px #ddd;
	border-radius: 10px;
	border: 1px solid #755A38 /* culoare margine search maro*/
}